src/.ipynb_checkpoints/
__pycache__/
*.synctex.gz
*.log
*.out
*.toc
*.aux
*.dvi
*.blg
*.run.xml
*.bbl
*.bcf
*-blx.bib
*.gz


# Files that cannot be published to Git due to licencing
src/data/text/before/*
src/data/text/after/*
src/data/pdf/*
